  $main-text-color: #1D1B1B; 
  $main-orange: #FF492F; 
  $second-text-color: #4A4949;  

   
  
  %lato-400 { 
    // font-family: 'Lato', sans-serif;  
    font-family: 'Lato'; 
    font-weight: 400; 
  } 
   
  %lato-500 { 
    font-family: 'Lato'; 
    font-weight: 500; 
  } 
   
  %lato-600 { 
    font-family: 'Lato'; 
    font-weight: 600; 
  } 
   
  %lato-700 { 
    font-family: 'Lato'; 
    font-weight: 700; 
  }  
   
  %lato-800 { 
    font-family: 'Lato'; 
    font-weight: 800; 
  } 
   
  %dm-serif-display-400 { 
    font-family: 'DM Serif Display'; 
    font-weight: 400;
  } 
   
